body {
    color: white
}

header {
    background-color: red;
    text-align: center;
}

a {
    color: white;
}

h1, h2 {
    margin: 0;
}

h2 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: orange;
    text-align: center;
}

main {
    background-color: green;
    padding: 10px;
}

article {
    background-color: blue;
}

article:nth-child(1) {
    margin-bottom: 10px;
}

footer {
    background-color: purple;
    text-align: center;
}

ul {
    margin: 0;
    padding-bottom: 10px;
}

ol {
    margin: 0;
    padding-bottom: 10px;
}